body {
    height: 100vh;
    background: linear-gradient(to bottom right, rgba(247, 247, 247, 0.7), rgba(77, 77, 77, 0.7)), url("../img/todo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

label {
    color: white;
}